h1 {
    color: orangered;
    font-size: 45px;
}
#print {
    font-family: Verdana,
     Geneva, Tahoma, sans-serif;
    color: dodgerblue;
    font-size: 20px; 
    display:inline-block;
    text-align:center; 
}
    th:hover {background-color: #D6EEEE;}
.box {
        color: orangered;
    }
    #body{
        display: flex;
        justify-content: center;
    }
    #messageSection{
        font-weight: bold;
        color: green;
        margin-left: 555px;
        margin-top: -297px;
        font-size: 30px;
    }
    #message{
        font-weight: bold;
        color: orangered;  
        margin-left: 55px;
        margin-bottom: -297px;
        font-size: 30px;
    }
    #btn{
        margin-left: auto;
        margin-right: auto;     
    }
    #dash{
        margin-left: 97px;
        margin-top: -19px;    
    }
    table, td, tr {
        border: 1px solid;
          line-height: normal;
          font-weight: normal;
          font-size: medium;
          font-style: normal;
          border-spacing: 20px;
      }
      .box{
        padding: 15px 26px 13px 24px
      }
      ;
  